{{define "body"}}
<section>
  <h1>openccu-loom</h1>
  <dl>
    <dt>Version</dt><dd>{{.Version}}</dd>
    <dt>License</dt><dd>MIT (source) &middot; embedded CCU data: eQ-3 HomeMatic Software License (non-commercial)</dd>
    <dt>Third-party notices</dt><dd><a href="https://github.com/SukramJ/openccu-loom/blob/main/THIRD-PARTY-NOTICES.md">THIRD-PARTY-NOTICES.md</a> &middot; prior art &amp; dependency licenses</dd>
    <dt>Repository</dt><dd><a href="https://github.com/SukramJ/openccu-loom">github.com/SukramJ/openccu-loom</a></dd>
  </dl>
</section>
{{end}}
