# SPDX-License-Identifier: MIT
# OpenCCU-Loom daemon monitoring for the CCU / RaspberryMatic add-on.
check process openccu-loom with pidfile /var/run/openccu-loom.pid
    group addon
    mode passive
    start program = "/etc/config/rc.d/openccu-loom start"
    stop program  = "/etc/config/rc.d/openccu-loom stop"
    restart program = "/etc/config/rc.d/openccu-loom restart"
    if does not exist then
        exec "/bin/triggerAlarm.tcl 'OpenCCU-Loom nicht aktiv' 'WatchDog: OpenCCU-Loom' true"
    if failed port 8080 for 5 cycles then
        exec "/bin/triggerAlarm.tcl 'OpenCCU-Loom Port 8080 nicht erreichbar' 'WatchDog: OpenCCU-Loom' true"
